<form [ngClass]="{ 'formulario-movil': esMovil }">
  <mat-form-field
    subscriptSizing="dynamic"
    [ngClass]="{ 'form-tablet': esTablet, 'form-movil': esMovil }"
    class="no-hint-space"
  >
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="parametroBusqueda" name="parametroBusqueda" />
  </mat-form-field>
  <div
    class="container-btn"
    [ngClass]="{ 'botones-tablet': esTablet, 'botones-movil': esMovil }"
  >
    <div [ngClass]="{ 'boton-movil-container': esMovil }">
      @if(esMovil){
      <button mat-fab class="boton-movil">
        <mat-icon>search</mat-icon>
      </button>
      }@else{
      <button mat-fab extended (click)="clickBuscar.emit(parametroBusqueda)">
        <mat-icon>search</mat-icon>
        Buscar
      </button>
      }
    </div>
    <div [ngClass]="{ 'boton-movil-container': esMovil }">
      @if(esMovil){
      <button mat-fab class="boton-movil">
        <mat-icon>close</mat-icon>
      </button>
      }@else {
      <button
        mat-fab
        extended
        (click)="clickQuitarFiltros.emit(); limpiarFiltro()"
      >
        <mat-icon>close</mat-icon>
        Quitar filtros
      </button>
      }
    </div>
    <div [ngClass]="{ 'boton-movil-container': esMovil }">
      @if(esMovil){
      <button mat-fab class="boton-movil">
        <mat-icon>playlist_add</mat-icon>
      </button>
      }@else{
      <button mat-fab extended (click)="clickCrear.emit()">
        <mat-icon>playlist_add</mat-icon>
        Crear {{ formularioPara | titlecase }}</button
      >}
    </div>
  </div>
</form>
