<div
  class="container"
  [ngClass]="{ 'container-movil': esMovil, 'container-tablet': esTablet }"
>
  <button
    mat-fab
    extended
    class="btn"
    [ngClass]="{ 'btn-movil': esMovil, 'btn-tablet': esTablet }"
    (click)="regitrarPasadia()"
  >
    <mat-icon>playlist_add</mat-icon>
    Registrar Pasadia
  </button>
  <full-calendar
    class=".full-calendar"
    [options]="calendarOptions"
    [ngClass]="{ 'calendario-movil': esMovil, 'calendario-tablet': esTablet }"
  ></full-calendar>
</div>
