<div class="container">
  <form>
    <mat-form-field>
      <mat-label>Categoria para</mat-label>
      <mat-select>
        <!-- @for (food of foods; track food) {
                <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
              } -->
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Familia</mat-label>
      <mat-select>
        <!-- @for (food of foods; track food) {
                  <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                } -->
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Seccion</mat-label>
      <mat-select>
        <!-- @for (food of foods; track food) {
                  <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                } -->
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Familia</mat-label>
      <mat-select>
        <!-- @for (food of foods; track food) {
                  <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                } -->
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput />
    </mat-form-field>
  </form>
</div>
