<mat-grid-list cols="12" rowHeight="100%">
  <mat-grid-tile [colspan]="esMovil || esTablet ? 12 : 4" [rowspan]="1">
    @if(esMovil || esTablet){
    <img class="banner-fondo" src="/assets/img/fondo.jpg" alt="cabaña" />
    }

    <div class="formulario" [ngClass]="{ card: esMovil || esTablet }">
      <img src="/assets/img/logo.jpg" alt="logo-cintana" class="logo" />
      <form [formGroup]="formularioLogin">
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input matInput type="email" formControlName="usuario" />
          @if (formularioLogin.get("usuario")?.invalid) {
          <mat-error>Ingrese un correo valido</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="contrasena" />
          @if (formularioLogin.get("contrasena")?.invalid) {
          <mat-error>Ingrese una contraseña</mat-error>
          }
        </mat-form-field>
        <button
          class="btn btn-azul"
          [disabled]="formularioLogin.invalid"
          mat-raised-button
          (click)="login()"
        >
          Ingresar
        </button>
      </form>
    </div>
  </mat-grid-tile>
  @if(!esMovil && !esTablet){
  <mat-grid-tile [colspan]="8" [rowspan]="1">
    <img class="banner" src="/assets/img/fondo.jpg" alt="cabaña" />
  </mat-grid-tile>
  }
</mat-grid-list>
