<div
  class="container"
  [ngClass]="{ 'container-tablet': esTablet, 'container-movil': esMovil }"
>
  <app-formulario-documentos
    [ngClass]="{ 'formulario-movil': esMovil }"
  ></app-formulario-documentos>
  <div class="contenido" [ngClass]="{ 'contenido-movil': esMovil }">
    <app-lista-documentos
      [ngClass]="{ 'lista-tablet': esTablet, 'lista-movil': esMovil }"
      tipo="descargo"
      [datos]="listaDeFacturasFiltradas"
      (seleccionDeFactura)="seleccionarFactura($event)"
    ></app-lista-documentos>
    @if(!esMovil){
    <div class="documento" [ngClass]="{ 'documento-tablet': esTablet }">
      <app-detalles-documento
        [ngClass]="{ 'detalles-tablet': esTablet }"
        [datos]="detallesDeLaFactura"
      ></app-detalles-documento>
      <app-totales-documento
        [ngClass]="{ 'totales-tablet': esTablet }"
        [datos]="totalesFactura"
      ></app-totales-documento>
    </div>
    }
  </div>
</div>
