.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
button {
  border-radius: 0px !important;
  background-color: blue !important;
}
