.container {
  width: 100%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
app-detalles-documento {
  height: 70%;
  width: 90%;
  overflow: auto;
  background-color: white;
}
app-totales-documento {
  height: 20%;
  width: 90%;
  overflow: auto;
  background-color: white;
}
