mat-card {
  height: 100%;
  width: 100%;
}

mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
span {
  width: 100%;
  text-align: start;
  font-weight: bold;
}
ngx-charts-bar-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}
