mat-card {
  height: 100%;
  width: 100%;
}
mat-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.icono {
  font-size: 60px;
  margin-right: 20px;
  padding: 10px;
}
.contenido {
  font-weight: bold;
  text-align: start;
  width: 70%;
}

.numero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 40%;
}
.barra {
  height: 10px;
  border-radius: 10px;
  transition: width 0.5s ease-out;
}
