<mat-card>
  <mat-card-content>
    <div class="header">
      @if (esMovil) {
      <span class="numero">
        {{ numero }}
      </span>
      }@else {<span
        [ngStyle]="{ 'background-color': color2, color: color1 }"
        class="material-icons icono"
      >
        bed </span
      >}

      <div class="contenido">{{ texto | titlecase }}</div>
    </div>
    @if(!esMovil){
    <span class="numero">
      {{ numero }}
    </span>
    }

    <div class="container-barra">
      <div
        class="barra"
        [ngStyle]="{ 'width.%': porcentaje, 'background-color': color1 }"
      ></div>
    </div>
  </mat-card-content>
</mat-card>
