<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="esMovil || esTablet ? 'dialog' : 'navigation'"
    [mode]="esMovil || esTablet ? 'over' : 'side'"
    [opened]="esMovil === false && esTablet === false"
  >
    <div class="sidebar">
      <img src="/assets/img/logo.jpg" alt="logo-cintana" class="logo" />
      <mat-nav-list>
        @for(boton of botones;track boton){
        <button
          mat-button
          [routerLink]="[boton.ruta]"
          routerLinkActive="activo"
          (click)="esMovil || esTablet ? drawer.toggle() : ''"
        >
          {{ boton.texto }}
        </button>
        }
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (esMovil || esTablet) {
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Portal de la cintana</span>
    </mat-toolbar>
    }
    <!-- Contenido -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
