/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.btn {
  border-radius: 0 !important;
  padding: 25px 0px !important;
  width: 100% !important;
}

.btn-azul {
  background-color: #3056d3 !important;
  color: white !important;
}

.btn-azul:disabled {
  background-color: #6486f7 !important;
  color: rgb(255, 255, 255) !important;
}
