/* mat-grid-tile {
  border: 2px solid forestgreen;
} */
app-card-habitacion {
  height: 90%;
  width: 95%;
}
app-card-ingresos {
  height: 90%;
  width: 97.5%;
}
app-card-clientes {
  height: 95%;
  width: 97.5%;
}
app-card-stock-bajo {
  height: 95%;
  width: 97.5%;
}
