<div class="container">
  <div class="cards">
    <app-card-habitacion
      class="indicator"
      color1="#3D63C7"
      color2="#ABC3FF"
      [numeroHabitaciones]="totalRooms"
      text="Total Habitaciones"
    >
    </app-card-habitacion>
    <app-card-habitacion
      class="indicator"
      color1="#61BD5F"
      color2="#B4FFB2"
      [numeroHabitaciones]="freeRooms"
      text="Habitaciones Libres"
    >
    </app-card-habitacion>
    <app-card-habitacion
      class="indicator"
      color1="#BB4141"
      color2="#FF8787"
      [numeroHabitaciones]="ocupedRooms"
      text="Habitaciones Ocupadas"
    >
    </app-card-habitacion>
    <app-card-habitacion
      class="indicator"
      color1="#F19221"
      color2="#FFCF96"
      [numeroHabitaciones]="reservedRooms"
      text="Habitaciones Reservadas"
    >
    </app-card-habitacion>
  </div>
</div>
